<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
	<style>
		* {
			font-family:"Roboto",sans-serif;
		}
		p,span,li,a {
			font-size:16px;
		}

		h1 {
			font-weight:700;
			font-size:32px;
		}
	</style>
</head>
<body>
			{{{body}}}
			<p>If you have any questions or need assistance you can contact us at <a href="mailto:{{supportEmail}}">{{supportEmail}}</a></p>
</body>
</html>